.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  counter-reset:phase-counter; /* Initiate a counter */
}

.fullList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*padding-left: 37%;*/
}
.phaseList {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.tasksList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.phaseList > .phase::before {
  counter-increment:phase-counter; /* Increment the counter by 1 */
  content:counter(phase-counter);
  border-radius: 50%;
  margin-right:8px;
  padding: 4px 6px;
  color:#fff;
  background: #000000;
  font-weight:bold;
  font-family:"Helvetica Neue", Arial, sans-serif;
  text-align:center;
}
.phase {
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: flex-start;
}
.task {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.phaseLabel {
  font-weight:bold;
  font-size: large;

}

i.icon-red {
  color: #c20909;
}
i.icon-green {
  color: green;
}

a.right {
  margin-left: 10px;
}
